.contact__wrapper{
    padding: 20px;

    background: #7b5353;
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 50vh;
}
.contact__wrapper> div:last-child{
    display: flex;
    gap: 50px;
    border: 1px solid red;

}

.contact__wrapper> div:last-child > div{
    flex: 1 0 500px;
    border: 1px solid black;

}
.contact__slots{
    max-height: 500px;
    overflow-y: scroll;
}
